# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
# IntelliJ project files
.idea
*.iml
target
out
gen
*.log
/openapi-client/openapi-client.ipr
/openapi-client/openapi-client.iws
/openapi-sdk.ipr
/openapi-sdk.iws
